
body{
    background-color: black;
    color: white;
}

header, main, nav, footer {
    text-align: center;
}

header {
    color: blue;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}

nav a{                      /*links within "nav" container */
    padding:15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;  /*removes underline */
    color: white;           /*by default, links are blue, change to white */ 
}

nav a:hover {               /* pseudo class */
    border-bottom: 2px blue solid;
    font-size: 2em;
    transition: .9s;        /* transition effect */
}


#me {
    display: inline-block;
    vertical-align: top;
}

#welcomeText {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong{
    color: blue;
}

#table-header {
    background-color: grey;
}

.table-row {
    background-color: grey;
}

ul {
    display: inline-block;
    text-align: center;
    padding-left: 200px;
}

#hobby-list {
    text-align: left;
    
}

.hobby {
    color: blue;
}

#content {
    text-align: center;
}

footer {
    clear: left;
    font-size: .75em;
}